<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head.ejs %>
  <link rel="stylesheet" href="/css/thumbnail-gallery.css">

  <body>

    <% include ../views/partials/header.ejs %>

      <div id="masthead">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1>eCompetition
          <p class="lead"></p>
        </h1>
            </div>
            <div class="col-md-5">
              <div class="well well-lg">
                <div class="row">
                  <div class="col-sm-12">


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /cont -->
      </div>


      <div class="container">
        <div class="row">

          <div class="col-md-12">

            <div class="panel">
              <div class="panel-body">



                <!--/participants-->
                <div class="row">
                  <br>
                  <div class="col-md-2 col-sm-3">
                    <!--<a class="story-title" href="#"><img alt="" src="<%=participant.imgUrl %>" style="width:100px;height:100px"
                        class="img-circle"></a>-->
                  </div>
                  <div class="col-md-10 col-sm-9">
                    <h3><%=participant.firstName %> <%=participant.lastName %></h3>
                    <div class="row">
                      <div class="col-xs-9">

                        <h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="#" class="text-muted"></a></small>
                  </h4></div>
                      <div class="col-xs-3"></div>
                    </div>
                    <br><br>
                  </div>
                </div>


                <!--Thumbail Gallery for displaying Images-->
                <!--<div class="container">-->

                <div class="row">

                  <div class="col-lg-12">
                    <h1 class="page-header">Portfolio</h1>
                  </div>

                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                    <img class="img-responsive" src="<%=participant.imgUrl %>" alt="" style="width:420px;height:345px">

                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                    <iframe width="560" height="315" src="<%=participant.videoUrl %>" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <!--</div>-->
                  <!--/Thumbnail-Container-->
                </div>
              </div>
              <!--/col-12-->
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h3>Voting</h3>


                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <span class="badge"><%=participant.vote%></span> Total Votes
                        </li>
                      </ul>
                      <form action="/addVotes" method="post" class="form">
                        <input type="hidden" name="id" value="<%=participant._id%>">
                        <input type="submit" class="btn btn-success" value="Vote" />
                      </form>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container" id="footer">
            <div class="row">
              <div class="col col-sm-12">

                <h1>Follow Us</h1>
                <div class="btn-group">
                  <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                  <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                  <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
                </div>

              </div>

            </div>
          </div>

          <hr>

          <hr>

          <% include ../views/partials/footer.ejs %>
  </body>

</html>