<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head.ejs %>

    <body>

        <!-- Fixed navbar -->
        <% include ../views/partials/header.ejs %>


            <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
            <div id="blue">
                <div class="container">
                    <div class="row">
                        <h3><%=event.name %></h3>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /blue -->

            <!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

            <div class="container mt">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 centered">
                         <img src="<%=event.imgUrl %>" alt="">
                       
                    </div>

                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="spacing"></div>
                        <h4><%=event.name %></h4>
                        <p>
                            <%=event.desc %>
                        </p>

                    </div>

                    <div class="col-lg-4 col-lg-offset-1">
                        <div class="spacing"></div>
                        <h4>Competition Details</h4>
                        <div class="hline"></div>
                        <p><b>Date:</b>
                            <%=event.startDate.toDateString() %>
                        </p>
                        <p><b>Category:</b>
                            <%=event.category %>
                        </p>
                        <p><b>End Date:</b>
                            <%=event.endDate.toDateString() %>
                        </p>

                    </div>

                </div>
                <! --/row -->
            </div>
            <! --/container -->

            <hr/>




            <!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
            <% include ../views/partials/footer.ejs %>

                <!-- Bootstrap core JavaScript
    ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <% include ../views/partials/jsdefaults.ejs %>


                    <script>
                        // Portfolio
                        (function($) {
                            "use strict";
                            var $container = $('.portfolio'),
                                $items = $container.find('.portfolio-item'),
                                portfolioLayout = 'fitRows';

                            if ($container.hasClass('portfolio-centered')) {
                                portfolioLayout = 'masonry';
                            }

                            $container.isotope({
                                filter: '*',
                                animationEngine: 'best-available',
                                layoutMode: portfolioLayout,
                                animationOptions: {
                                    duration: 750,
                                    easing: 'linear',
                                    queue: false
                                },
                                masonry: {}
                            }, refreshWaypoints());

                            function refreshWaypoints() {
                                setTimeout(function() {}, 1000);
                            }

                            $('nav.portfolio-filter ul a').on('click', function() {
                                var selector = $(this).attr('data-filter');
                                $container.isotope({
                                    filter: selector
                                }, refreshWaypoints());
                                $('nav.portfolio-filter ul a').removeClass('active');
                                $(this).addClass('active');
                                return false;
                            });

                            function getColumnNumber() {
                                var winWidth = $(window).width(),
                                    columnNumber = 1;

                                if (winWidth > 1200) {
                                    columnNumber = 5;
                                } else if (winWidth > 950) {
                                    columnNumber = 4;
                                } else if (winWidth > 600) {
                                    columnNumber = 3;
                                } else if (winWidth > 400) {
                                    columnNumber = 2;
                                } else if (winWidth > 250) {
                                    columnNumber = 1;
                                }
                                return columnNumber;
                            }

                            function setColumns() {
                                var winWidth = $(window).width(),
                                    columnNumber = getColumnNumber(),
                                    itemWidth = Math.floor(winWidth / columnNumber);

                                $container.find('.portfolio-item').each(function() {
                                    $(this).css({
                                        width: itemWidth + 'px'
                                    });
                                });
                            }

                            function setPortfolio() {
                                setColumns();
                                $container.isotope('reLayout');
                            }

                            $container.imagesLoaded(function() {
                                setPortfolio();
                            });

                            $(window).on('resize', function() {
                                setPortfolio();
                            });
                        })(jQuery);
                    </script>
    </body>

</html>